{% extends 'base.html' %}

{% block content %}
<style>
    .card {
      width: 100%;
      margin: 2%;
      padding: 1%;
    }

    .container-fluid {
      padding: 2px 16px;
    }
</style>

<div class="container-fluid">
    {% for stock in stocks %}
    <div class="row", style="margin-bottom:5px">
            <div class="card">
                <div class="container-fluid">
                    <h3>{{stock.description}}</h3>
                    <br>
                    <table style="width:50%">
                        <tr>
                            <td> <b>Current Price</b>: {{stock.quote.c}} </td>
                            <td> <b>Previous Close</b>: {{stock.quote.pc}} </td>
                        </tr>
                        <tr>
                            <td> <b>Highest Today</b>: {{stock.quote.h}} </td>
                            <td> <b>Lowest Today</b>: {{stock.quote.l}} </td>
                        </tr>
                    </table>
                    <br>

                    <p>{{stock.company_info}}</p>
                    <p><b>website</b>: <a href={{stock.url}}>{{stock.url}}</a></p>
                    <p>
                        <b>Symbol</b>: {{stock.symbol}} <br>
                        <b>Exchange</b>: {{stock.exchange}} <br>
                        <b>Currency</b>: {{stock.currency}} <br>
                    </p>

                    {% if request.user.is_authenticated %}
                        {% if stock.subscribe_button %}
                            <a class="btn btn-outline-dark btn-sm" href="/subscribe_stock/{{stock.symbol}}", style="float: right"> Subscribe </a>
                        {% else %}
                            <a class="btn btn-outline-dark btn-sm" href="/stock_update/{{stock.symbol}}", style="float: right"> Update </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
