{% extends 'base.html' %}

{% block content %}
<style>
    .card {
      width: 100%;
      margin: 2%;
      padding: 1%;
    }

    .container-fluid {
      padding: 2px 16px;
    }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha256-t9UJPrESBeG2ojKTIcFLPGF7nHi2vEc7f5A2KpH/UBU=" crossorigin="anonymous"></script>

<div class="container-fluid">
    <div class="row", style="margin-bottom:5px">
            <div class="card">
                <div class="container-fluid">
                    <h3>{{stock.description}}</h3>
                    <br>
                    <table style="width:50%">
                        <tr>
                            <td> <b>Current Price</b>: {{stock.quote.c}} </td>
                            <td> <b>Previous Close</b>: {{stock.quote.pc}} </td>
                        </tr>
                        <tr>
                            <td> <b>Highest Today</b>: {{stock.quote.h}} </td>
                            <td> <b>Lowest Today</b>: {{stock.quote.l}} </td>
                        </tr>
                    </table>
                    <br>

                    <canvas id="myChart" width="50%" height="30%"></canvas>
                    <p>
                        <b>Symbol</b>: {{stock.symbol}} <br>
                        <b>Exchange</b>: {{stock.exchange}} <br>
                        <b>Currency</b>: {{stock.currency}} <br>
                        <b>website</b>: <a href={{stock.url}}>{{stock.url}}</a>
                    </p>

                    {% if request.user.is_authenticated %}
                        {% if stock.subscribe_button %}
                            <a class="btn btn-outline-dark btn-sm" href="/subscribe_stock/{{stock.symbol}}", style="float: right"> Subscribe </a>
                        {% else %}
                            <a class="btn btn-outline-dark btn-sm" href="/stock_update/{{stock.symbol}}", style="float: right"> Update </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
    </div>

</div>

<script>
var endpoint = 'api/chart_data'
var labels = []
var stock_data = [];

$.ajax({
    method: "GET",
    url:endpoint,
    success: function(data){
        labels = data.stock_dates
        stock_data = data.stock_prices
        bg_clr = data.bg_clr
        bd_clr = data.bd_clr
        set_chart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function set_chart(){
    var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Price History',
                data: stock_data,
                backgroundColor: [
                    bg_clr,
                ],
                borderColor: [
                    bd_clr,
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
}
</script>

{% endblock %}
