{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/login_card.css' %}" >

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="margin-right: 20px;">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Reset Password</h3>
            </div>

            <p>Please enter your new password.</p>

            <form method="POST">
                {% csrf_token %}
                {{form}}
                <input class="btn btn-dark btn-sm" type='submit' name='Update password'>

            </form>

          </div>
     </div>
</div>

{% endblock %}
