{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/login_card.css' %}" >

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="margin-right: 20px;">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Reset Successful</h3>
            </div>

            <p>Your password reset has been successful.
                You may go ahead and log in now.</p>

            <a class="btn btn-dark btn-sm" href="/login">Login</a>

          </div>
     </div>
</div>

{% endblock %}
